<div class="componente">
  <div class="container color-dark">
    <div class="col">
      <p class="titulo">Skills Items</p>
    </div>
  </div>

  <div class="container color-light form-card">
    <div class="col form-section">
      <form>
        <input type="text" class="txt" name="dataBase" placeholder="Database Skill"
               [(ngModel)]="mySkills.dataBase" />

        <input type="text" class="txt" name="objectPrograming" placeholder="Object-Oriented Programming"
               [(ngModel)]="mySkills.objectPrograming" />

        <input type="submit" class="btn btn-primary" value="{{ btnTxt }}" (click)="agregarSkill()" />
      </form>
    </div>

    <div class="col output-section">
      <p class="header-preview" *ngFor="let skill of skills">
        <button class="btn btn-update" (click)="confirmUpdate(skill.id!)">Update</button>
        <button class="btn btn-delete" (click)="confirmDelete(skill.id!)">Delete</button>
        {{ skill.dataBase }} – {{ skill.objectPrograming }}
      </p>
    </div>
  </div>
</div>

