<div class="componente">
  <div class="container color-dark">
    <div class="col">
      <p class="titulo">Certificate Items</p>
    </div>
  </div>

  <div class="container color-light form-card">
    <div class="col form-section">
      <form>
        <input type="text" class="txt" name="certificate" placeholder="Certificate title"
               [(ngModel)]="myCertificates.certificates" />

        <input type="submit" class="btn btn-primary" value="{{ btnTxt }}" (click)="agregarCertificates()" />
      </form>
    </div>

    <div class="col output-section">
      <p class="header-preview" *ngFor="let cer of certificates">
        <button class="btn btn-update" (click)="confirmUpdate(cer.id!)">Update</button>
        <button class="btn btn-delete" (click)="confirmDelete(cer.id!)">Delete</button>
        {{ cer.certificates }}
      </p>
    </div>
  </div>
</div>

