<!-- Encabezado -->
<header class="admin-header">
  <h1>AdminCV Panel</h1>
</header>

<!-- Navegación -->
<nav class="admin-nav">
  <ul>
    <li><a routerLink="/header">Header</a></li>
    <li><a routerLink="/workexperience">Work Experience</a></li>
    <li><a routerLink="/education">Education</a></li>
    <li><a routerLink="/certificates">Certificates</a></li>
    <li><a routerLink="/skills">Skills</a></li>
    <li><a routerLink="/languages">Languages</a></li>
    <li><a routerLink="/interests">Interests</a></li>
  </ul>
</nav>

<!-- Contenido de rutas -->
<main class="admin-content">
  <router-outlet></router-outlet>
</main>

