<div class="componente">
  <div class="container color-dark">
    <div class="col">
      <p class="titulo">Interests Items</p>
    </div>
  </div>

  <div class="container color-light form-card">
    <div class="col form-section">
      <form>
        <input type="text" class="txt" name="area" placeholder="Area of interest"
               [(ngModel)]="myInterests.area" />
        <input type="text" class="txt" name="hobby" placeholder="Hobby / Lifegoal"
               [(ngModel)]="myInterests.hobby" />

        <input type="submit" class="btn btn-primary" value="{{ btnTxt }}" (click)="agregarInterests()" />
      </form>
    </div>

    <div class="col output-section">
      <p class="header-preview" *ngFor="let interest of interests">
        <button class="btn btn-update" (click)="confirmUpdate(interest.id!)">Update</button>
        <button class="btn btn-delete" (click)="confirmDelete(interest.id!)">Delete</button>
        {{ interest.area }} – {{ interest.hobby }}
      </p>
    </div>
  </div>
</div>

