<div class="componente">
  <div class="container color-dark">
    <div class="col">
      <p class="titulo">Languages Items</p>
    </div>
  </div>

  <div class="container color-light form-card">
    <div class="col form-section">
      <form>
        <input type="text" class="txt" name="espaniol" placeholder="Español level (e.g. Native, B2, etc)"
               [(ngModel)]="myLanguages.espaniol" />
        <input type="text" class="txt" name="english" placeholder="English level (e.g. B1, C1, etc)"
               [(ngModel)]="myLanguages.english" />

        <input type="submit" class="btn btn-primary" value="{{ btnTxt }}" (click)="agregarLanguages()" />
      </form>
    </div>

    <div class="col output-section">
      <p class="header-preview" *ngFor="let lan of languagues">
        <button class="btn btn-update" (click)="confirmUpdate(lan.id!)">Update</button>
        <button class="btn btn-delete" (click)="confirmDelete(lan.id!)">Delete</button>
        {{ lan.espaniol }} – {{ lan.english }}
      </p>
    </div>
  </div>
</div>

