<div class="componente">
  <div class="container color-dark">
    <div class="col">
      <p class="titulo">Education items</p>
    </div>
  </div>

  <div class="container color-light form-card">
    <div class="col form-section">
      <form>
        <input type="text" class="txt" name="highSchool" placeholder="High School" [(ngModel)]="myEducation.HighSchool" />
        <input type="text" class="txt" name="university" placeholder="University" [(ngModel)]="myEducation.University" />

        <input type="submit" class="btn btn-primary" value="{{ btnTxt }}" (click)="agregarEducation()" />
      </form>
    </div>

    <div class="col output-section">
      <p class="header-preview" *ngFor="let edu of education">
        <button class="btn btn-update" (click)="confirmUpdate(edu.id!)">Update</button>
        <button class="btn btn-delete" (click)="confirmDelete(edu.id!)">Delete</button>
        {{ edu.HighSchool }} – {{ edu.University }}
      </p>
    </div>
  </div>
</div>

